/*******************************************************************************
 ** COLORS **
 *******************************************************************************/
$bg_color: #000000;
$oh_red: #bb0000;

/*******************************************************************************
 ** FONT SIZES **
 *******************************************************************************/
// Document base font
$base_font: 16;
$base_grid: 24;

// Paragraphs and lists
$body_copy: 14;

// Headings
$h1: 66;
$h2: 32;
$h3: 24;
$h4: 18;
$h5: 16;

// Table fonts
$table_head: 18;
$table_body: 14;

/*******************************************************************************
 ** BREAKPOINT VARIABLES **
 *******************************************************************************/
$phone: 20em; // 20 * 16 = 320
$phone_wide: 30em; // 30 * 16 = 480
$small_tablet: 37.5em; // 37.5 * 16 = 600
$tablet: 48em; // 48 * 16 = 768
$desktop: 62em; // 62 * 16 = 992